<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav>
                    <div class="nav-left">
                        <ul>
                            <li><a href="/">Accueil</a></li>
                            <li><a href="{{ path('app_my_cave') }}">My Cave</a></li>
                        </ul>
                    </div>
                    
                        {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                            <a href="{{ path('admin')}}"><img src="{{asset('/images/logo-large.png')}}" alt=""><span>ADMIN</span></a>
                        {% else %}
                    
                    <div class="logo">
                        <img src="{{asset('/images/logo-large.png')}}" alt="">
                    </div>
                    {% endif %}
                    <div class="nav-right">
                        <ul>
                            <li><a href="{{ path('app_all_caves') }}">Les Caves</a></li>
                            {% if app.user %}
                                <li><a href="{{ path('app_profile') }}">Profil</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </header>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}
            <footer>
                <div class="container">
                    <div class="logo">
                        <img src="{{asset('/images/logo.png')}}" alt="">
                        <p>© 2025 My Cave. Tous droits réservés.</p>
                    </div>
                    <div class="rgpd">
                        <a href="">Politique de confidentialité</a>
                    </div>
                    <div class="contact">
                        <h2>Nous contacter :</h2>
                        <p><strong>Mail :</strong> poutou89@gmail.com</p>
                        <p><strong>Téléphone :</strong> 06.81.63.92.30</p>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
