
{% if bottles is not empty %}
        {% for bottle in bottles %}
            <div class="bottle-card">
                <strong>{{ bottle.name }}</strong> {{ bottle.year }}
                <div>
                    <img src="{{ asset('uploads/bottles/' ~ bottle.picture) }}"
                         alt="Image de {{ bottle.name }}"
                         style="max-width: 150px; height: auto;">
                </div>
                <button class="add-to-cellar-btn"
                        data-id="{{ bottle.id }}">
                    Ajouter à ma cave
                </button>
            </div>
        {% endfor %}
{% else %}
    <p>Aucune bouteille trouvée avec ces filtres.</p>
{% endif %}